<!DOCTYPE html>
<html lang="es">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	<link href="https://fonts.googleapis.com/css?family=Lekton" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
	<link rel="stylesheet" type="text/css" href="../src/dist/sweetalert.css">
	<link rel="stylesheet" href="../css/main.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Agenda diaria</title>
</head>
<body>
	<header class="row alinear-v">
		<img src="https://dummyimage.com/100x100" alt="logo" class="responsive-img mt-5 offset-s1 col s3">
		<button id="btn-InicioSesion" class="waves-effect waves-light btn offset-s3 col s4 fondo-Az-med iniciarSesionEstilo">Iniciar Sesión</button>
	</header>
	<!-- Modal Info Evento -->
      <div id="infoEvento" class="modal">
        <div class="modal-content">
    			<div class="row fondo--azulMedio">
    				<div class="col s1">
    					<i class="material-icons modal-close">close</i>
    				</div>
    				<h4 class="center p-3 letra--blanca  col s10">Titulo Evento</h4>
    			</div>
          <a class="right btn-floating btn-large waves-effect waves-light fondo-Az-osc mt-015 izq-3"><i class="material-icons" id="btn-agregar">add</i></a>
          <h5>Día 1</h5>
          <h6> 0:00 a 0:00</h6>
          <h6>Lugar: Salón 405</h6>
          <p class="justificar">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae culpa, repellendus aspernatur aliquid reprehenderit perspiciatis libero enim ullam harum amet accusamus deserunt omnis id rerum architecto natus iste ratione illo.</p>
        </div>
    </div>
	<!-- Vista Eventos -->
	<section class="mes fondo-Az-med">
		<h3 class="white-text p-3 center"> MES </h3>
	</section>
	<!-- Tarjetas eventos -->
	<section class="eventos-Diarios container" id="eventosDiarios">
		<h4 class="row"> <strong>Día 0</strong></h4>
		<!-- <! Tarjeta evento -->
		<section class="card-panel grey lighten-4">
			<div class="row">
				<div class="col s8">
					<h5> Titulo Evento </h5>
					<p> Nombre Ponente</p>
					<div class="container">
						<div class="row">
							<span class="center tag col s5 chip"> Lugar </span>
							<a href="#infoEvento" class="center offset-s1 col s5"> ver más</a>
						</div>
					</div>
				</div>
				<div class="center col s4 grey lighten-2">
					<p class="center chip fuente-Az-med ocultar"> Agendado</p>
					<h4 class="center pb-9"> 00:00<br> a <br>00:00 </h4>
				</div>
			</div>
		</section>
		<!-- Fin tarjeta evento -->
	</section>
	<!-- SCRIPTS-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="../js/materialize.min.js"></script>
	<script src="../src/dist/sweetalert.min.js"></script>
	<script type="text/javascript" src="../js/agendaDiaria.js"></script>
	<script src="../js/api.js" charset="utf-8"></script>
</body>
</html>
