<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Agendate</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="../css/materialize.min.css">
	<link rel="stylesheet" href="../css/main.css">
</head>
<body>
	<nav class="nav-atras">
		<a href="calendarioUsuario.html"><i class="material-icons">arrow_back</i></a>
	</nav>
    <header>
     	<h3 class="center letra--grisMedio">Mis Eventos</h3>
    </header>
    <section class="container eventos-usuario">
      <h4 class="center p-3 fondo--azulMedio letra--blanca">Mes</h4>

      <!-- tarjeta -->

		<section class="card-panel grey lighten-4">
			<div class="row">
				<div class="col s8">
					<h5> Titulo Evento </h5>
					<p> Nombre Ponente</p>
					<div class="container">
						<div class="row">
							<span class="center tag col s5 chip"> Lugar </span>
							<a href="#" class="center offset-s1 col s5"> Ver Más</a>
						</div>
					</div>
				</div>
				<div class="center col s4 grey lighten-2">
					<p class="center chip fuente-Az-med"> Agendado</p>
					<h4 class="center"> 00:00<br> a <br>00:00 </h4>
				</div>
			</div>
		</section>
            
        <section class="card-panel grey lighten-4">
			<div class="row">
				<div class="col s8">
					<h5> Titulo Evento </h5>
					<p> Nombre Ponente</p>
					<div class="container">
						<div class="row">
							<span class="center tag col s5 chip"> Lugar </span>
							<a href="#" class="center offset-s1 col s5"> Ver Más</a>
						</div>
					</div>
				</div>
				<div class="center col s4 grey lighten-2">
					<p class="center chip fuente-Az-med"> Agendado</p>
					<h4 class="center"> 00:00<br> a <br>00:00 </h4>
				</div>
			</div>
		</section>
		
    </section>

	

	<script src="../js/jquery.min.js"></script>
	<script src="../js/materialize.min.js"></script>
</body>
</html>