<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Calendario Usuario</title>
		<link rel="stylesheet" href="../css/materialize.min.css">
		<link rel="stylesheet" href="../css/calendarioUsuario.css">
		<link rel="stylesheet" href="../css/main.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<header class="row">
			<div class="center color p-3 " >
				<img alt="logo" class="logo col s4 offset-s4 col m2 offset-m5" src="../src/img/agenDate1.svg">
			</div>
		</header>
		<div class="container">

			<section class="row">
				<h5 class="titulo-usuario">Bienvenido <span id="nombreUsuario"></span> </h5>
			</section>

			<section class="row">

				<h5 class="center titulo-calendario p-3">Agosto </h5>

				<table class="row center">
					<tr class="row">
						<th class="diaSemana">Mo</th>
						<th class="diaSemana">Tu</th>
						<th class="diaSemana">We</th>
						<th class="diaSemana">Th</th>
						<th class="diaSemana">Fr</th>
						<th class="diaSemana">Sa</th>
						<th class="diaSemana">Su</th>
					</tr>
					<tr>
						<td></td>
						<td class="fechaDia" data-dia='1'>1</td>
						<td class="fechaDia" data-dia='2'>2</td>
						<td class="fechaDia" data-dia='3'>3</td>
						<td class="fechaDia" data-dia='4'>4</td>
						<td class="fechaDia" data-dia='5'>5</td>
						<td class="fechaDia" data-dia='6'>6</td>
					</tr>
					<tr>
						<td class="fechaDia" data-dia='7'>7</td>
						<td class="fechaDia" data-dia='8'>8</td>
						<td class="fechaDia" data-dia='9'>9</td>
						<td class="fechaDia" data-dia='10'>10</td>
						<td class="fechaDia" data-dia='11'>11</td>
						<td class="fechaDia" data-dia="12">12</td>
						<td class="fechaDia" data-dia='13'>13</td>
					</tr>
					<tr>
						<td class="fechaDia" data-dia='14'>14</td>
						<td class="fechaDia" data-dia='15'>15</td>
						<td class="fechaDia" data-dia='16'>16</td>
						<td class="fechaDia" data-dia='17'>17</td>
						<td class="fechaDia" data-dia='18'>18</td>
						<td class="fecha-activa fechaDia" data-dia='19'>19</td>
						<td class="fechaDia" data-dia='20'>20</td>
					</tr>
					<tr>
						<td class="fechaDia" data-dia='21'>21</td>
						<td class="fechaDia" data-dia='22'>22</td>
						<td class="fechaDia" data-dia='23'>23</td>
						<td class="fechaDia" data-dia='24'>24</td>
						<td class="fechaDia" data-dia='25'>25</td>
						<td class="fechaDia" data-dia='26'>26</td>
						<td class="fechaDia" data-dia='27'>27</td>
					</tr>
					<tr>
						<td class="fechaDia" data-dia='28'>28</td>
						<td class="fechaDia" data-dia='29'>29</td>
						<td class="fechaDia" data-dia='30'>30</td>
						<td class="fecha-evento" data-dia='31'>31</td>
						<td class="fechaDia"></td>
						<td class="fechaDia"></td>
						<td class="fechaDia" ></td>
					</tr>
				</table>
				<hr>
				<section class="row">
					<div class="col s12 l12">
						<div class="row">
							<i  class=" col s2 l2 material-icons center-align fecha-evento">event</i>
							<p class="col s3 l2 m-0 left-alig">Evento</p>
							<i  class=" col s2 l2 material-icons center-align fecha-activa p-3">event_available</i>
							<p class="col s5 l2 m-0 left-alig">Evento Agendado</p>
						</div>
					</div>
				</section>
			</section>
		</div>
		<div class="container">
			<a class=" row waves-effect waves-light btn  fondo-Az-med iniciarSesionEstilo" href="agendaUsuario.html">Mi Agenda</a>
		</div>
		
		<script src="../js/jquery.min.js"></script>
		<script src="../js/materialize.min.js"></script>
		<script src="../js/api.js"></script>
		<script type="text/javascript">
			$("#nombreUsuario").html(localStorage.displayName);
		</script>

	</body>
</html>
