<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Calendario Usuario</title>
	<link rel="stylesheet" href="../css/materialize.min.css">
	<link rel="stylesheet" href="../css/calendarioUsuario.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<header>
		<div class="row">
			<img alt="logo" class="center col l2 s2 offset-s5 offset-l5" src="https://dummyimage.com/100x100" alt="">	
		</div>
	</header>
	
	<section class="container">
		<h3 class="titulo-usuario row">Bienvenido <samp id="nombreUsuario"></samp> </h3>
	</section>
	
	<section class="container">
		<div class="row">
			<h5 class="center titulo-calendario">Agosto </h5>
		</div>
		
	</section>

	<script src="../js/jquery.min.js"></script>
    <script src="../js/materialize.min.js"></script>	
</body>
</html>