@import "variables";

.navlogo{
  padding-top: 0.5em;
}
.calendario{
  background-color: $Gris-claro;
  height: 50vh;
}
.contenedormes{
  background-color: $Azul-medio;
  color: $blanco;
  margin-top: 0;
}
.iniciarSesionEstilo{
  background-color: $Azul-medio;
  text-transform: capitalize;
  color: $blanco;
}
.opcionesInicio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  button{
    color: $blanco;
    margin: 1em;
  }
}
.titulos{
  color: $Gris-medio;
}
.logoInicioSesion{
  margin-top: 5em;
}
